
/* div.wy-side-nav-search {
  background: #757575;
} */

.wy-nav-content {
    max-width: none;
}

/* To stick the footer to the bottom of the page */
html {
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 300;
    font-family: "Open Sans",sans-serif;
}

h1 {
    font-size: 200%;
}

.sidebar-title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.banner {
    padding-bottom: 60px;
    text-align: center;
}

.banner img {
    margin-bottom: 40px;
}

.api-module {
	margin-bottom: 80px;
}





.wy-nav-top {
    background-color: #555555;
}

.wy-side-nav-search {
    background-color: #555555;
}

.wy-side-nav-search > a img.logo {
    width: 50%;
}

.wy-side-nav-search input[type="text"] {
    border-color: #555555;
}

/* Remove the padding from the Parameters table */
.rst-content table.field-list .field-name {
    padding-left: 0px;
}

/* Lign up the Parameters section with the descriptions */
.rst-content table.field-list td {
    padding-top: 8px;
}

.rst-content .highlight > pre {
    font-size: 14px;
}

/* .rst-content img {
    max-width: 100%;
} */

.source-link {
    float: right;
}
