.wy-nav-side p.caption {
  color: #F5F5F5;
}

div.wy-side-nav-search {
  background: #000000;
}
/* div.wy-side-nav-search {
  background: #757575;
} */

.wy-nav-content {
    max-width: none;
}

div.wy-side-nay {
  background: #212121;
}

table.field-list td li {
  line-height: 18px;
}

table.docutils td p {
  font-size: 14px !important;
  margin-bottom: 6px;

}

table.docutils td li {
  line-height: 18px;

/* @media (min-width 980px) {.wy-nav-content {
    max-width: none;}} */

/* .no-max-width {max-width: none;} */
/* }
.wy-nav-content {
    max-width: none;
} */


img.align-center {float: center;}
